body {
    margin: 0;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Info {
    display: flex;
    flex-direction: column;
    order: 2;
}

#Game {
    top: 10%;
    width: 50%;
    height: 80%;
    order: 1;
}

#Scoretext {
    padding: 1em 2em;
    margin: 1em;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    border-radius: 2em;
    text-align: center;
}

#infoRecords {
    padding: 1em 2em;
    margin: 1em;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    border-radius: 2em;
    text-align: center;
}

#tableRecords {
    width: 40%;
    height: 40%;
    top: 20%;
    left: 30%;
    background-color: white;
    position: absolute;
    text-align: center;
    z-index: -1;
}

#records {
    padding: 10px;
    font-size: 20px;
}

@media all and (max-width: 700px) {

    #Game {

        width: 100% !important;
        height: 70% !important;
        left: 0 !important;
    }

    .container {
        flex-direction: column !important;
        justify-content: start !important;
    }

    .Info {
        flex-direction: row !important;
    }

    #Scoretext {

        font-size: 15px;
        padding: 1em 1em;

    }

    #infoRecords {
        font-size: 15px;
        padding: 1em 1em;
    }

    #records {
        font-size: 15px !important;

    }

    #tableRecords {
        width: 60% !important;
        left: 20% !important;
    }
}

@media all and (max-width: 270px) {
    #Scoretext {

        padding: 0.5em 0.5em;
        margin: 0.3em;
        font-size: 13px;
    }

    #infoRecords {
        padding: 0.5em 0.5em;
        margin: 0.3em;
        font-size: 13px;
    }

    #Game {
        top: 1%;
        width: 100% !important;
        height: 70% !important;
        left: 0 !important;
    }

    #tableRecords {
        width: 90% !important;
        left: 5% !important;
    }
}
